<html>
	<head>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js'%>
	</head>
	<body>	
		<%= uploadify_s3 %>
		<div id="video-upload"><input type="file" name="uploadify" id="uploadify" /></div>		
	</body>
</html>