<html>
	<head>
		<%= javascript_include_tag 'jquery'%>
	</head>
	<body>	
		<div id="VideoGallery" style="display; none;"></div>
		<%= uploadify_s3({
				:file_input_selector => '#file_uploader',
				:button_text => 'Add Video',
				:file_ext => '*.mov',
				:on_success => "
					function(f) {
						$('#VideoGallery').html('<video height=\"250\" width=\"250\" src=\"' + f.url + '\" controls=\"true\"></video><div>' + c.size + ' ' + c.type + '</div>');
						$('video-upload').hide();
					}"}) %>
		<div id="video-upload"><input type="file" name="uploadify" id="file_uploader" /></div>		
	</body>
</html>