<html>
	<head>
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js'%>
	</head>
	<body>	
		<%= uploadify_s3({
				:file_input_selector => '#file_uploader',
				:button_text => 'Add Video',
				:file_ext => '*.mov',
				:file_desc => 'Please choose your .mov video file'}) %>
		<div id="video-upload"><input type="file" name="uploadify" id="file_uploader" /></div>		
	</body>
</html>